body {
    font-family: 'Amatic SC';
    background-color: tan;
    /*background-image: url(/item-images/shop-background2.jpeg);
    background-size: cover;*/
}
h1 {
    text-align: center;
}

.menu-options {
    display: flex;
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: rgb(222,184,135,.5);
    justify-content: space-around;
    border-radius: 10px;
}

.menu-item {
    padding: 10px;
    background-color: white;
    background-image: url(/item-images/nav-image.png);
    background-size: cover;
    border-radius: 10px;
    border: solid black 1px;
}

nav {
    padding: 10px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(222,184,135,.5);
    border-radius: 10px;

}
ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

li {
    list-style-type: none;
    background-color: white;
    background-image: url(/item-images/nav-image.png);
    background-size: contain;
    border-radius: 10px;
}

.product-category {
    border: solid black 1px;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: column, center;
}

.shop-item {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    margin: 20px 20px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgb(222,184,135,.5);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.product-footer {
    display: flex;
    align-items: space-between;
    margin: 10px;
    justify-content: space-between;
}
.image-container {
    margin: 10px 20px 0px 20px;
    display: flex;
    height: 200px;
    width: 200px;
    align-self: center;
}

img {
    height: 200px;
    width: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background-image: url(/item-images/shelf-image.png);
    
}

.product-name {
    height: 27px;
    width: 100px;
    background-image: url(/item-images/scroll-image.png);
    background-size: contain;
    margin-top: 0;
    text-align: center;
}

.hidden {
    display: none;
}

.checkout-area {
    display: flex;
    justify-content: center;
}


/* inventory related things */

/* .inventory-content {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 40px;
    width: 40px
} */

.price-tag {
    color: #745715;
    font-style: bold;
    display: flex;
    justify-content: row;
}

.coin-img {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: 0 5px 0 0;
}